.home_window{
  position:absolute;
  margin: 0 15% 0 15%;
}
.home_background{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  background: url(home_background.png) no-repeat;
}
.home_header{
  position:absolute;
  top:34px;
  width:1200px;
  height:36px;
}
.home_text{
  position:absolute;
  top:70px;
  width:1200px;
  height:192px;
}
.home_body{
  position:absolute;
  top:262px;
  width:1200px;
  height:640px;
  color: white;
  background-color:#304269;
}
